---
import Home from "../components/Home";

import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <Home client:idle />
  </body>
</html>
