---
import Home from "../components/Home";
import pokemon from "../data.json";

import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <Home />
    <template>{JSON.stringify(pokemon)}</template>
    <script>
      const pokemon = JSON.parse(
        document.querySelector("template").content.textContent
      );
      document.addEventListener("click", (e) => {
        if (e.target.tagName !== "A" || e.target.getAttribute("href") !== "#") {
          return;
        }
        const name = e.target.textContent;
        alert(JSON.stringify(pokemon.find((p) => p.name === name)));
      });
    </script>
  </body>
</html>
