---
import Home from "../components/Home";
import pokemon from "../data.json";

import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <Home />
    <script data-pokemon={JSON.stringify(pokemon)}>
      const pokemon = JSON.parse(document.currentScript.dataset.pokemon);
      document.addEventListener("click", (e) => {
        if (e.target.tagName !== "A" || e.target.getAttribute("href") !== "#") {
          return;
        }
        const name = e.target.textContent;
        alert(JSON.stringify(pokemon.find((p) => p.name === name)));
      });
    </script>
  </body>
</html>
